/*======================================*/
/*リセット*/
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body,
ul,
ol,
li,
h1,
h2,
h3,
p,
div {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    text-rendering: auto;
    position: relative;
}

li {
    list-style: none;
}

img {
    vertical-align: bottom;
    margin: 0;
}

a {
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
}

a:link,
a:visited,
a:hover,
a:active, a:focus {
    color: #222222;
    outline: none !important;
    box-shadow: none !important;
}

button:focus {
    outline: 0;
}

.main {
    margin: auto;
}

.screen-reader-text{
    display:none;
  }
  